In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import pandas as pd
import plotly.graph_objects as go
import matplotlib.pyplot as plt

sns.set_context("poster")
sns.set(rc={"figure.figsize": (12.,6.)})
sns.set_style("whitegrid")

In [139]:
df = pd.read_csv('scrubbed.csv')

/home/luisserrano/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [140]:
df = pd.DataFrame(df)

In [141]:
df.shape

(80332, 11)

In [142]:
df.sample(5)
df["country"].value_counts()

us    65114
ca     3000
gb     1905
au      538
de      105
Name: country, dtype: int64

In [143]:
df['latitude'] = df['latitude'].str.replace('33q.200088', "33.200088")

<ipython-input-143-db94b219f577>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['latitude'] = df['latitude'].str.replace('33q.200088', "33.200088")

In [144]:
df['latitude']=df['latitude'].astype('float64')

In [145]:
df.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                float64
longitude               float64
dtype: object

In [146]:
#Corrijo el nombre de la columna
df.rename(columns={"longitude ":"longitude"},inplace=True)

In [147]:
df['datetime'] = df['datetime'].str.split(' ').str[0]

In [148]:
df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

In [149]:
df['datetime']=pd.to_datetime(df['datetime'],format="%m/%d/%Y")

In [150]:
df.dtypes

datetime                datetime64[ns]
city                            object
state                           object
country                         object
shape                           object
duration (seconds)              object
duration (hours/min)            object
comments                        object
date posted                     object
latitude                       float64
longitude                      float64
dtype: object

In [151]:
df.isnull().sum()

datetime                    0
city                        0
state                    5797
country                  9670
shape                    1932
duration (seconds)          0
duration (hours/min)        0
comments                   15
date posted                 0
latitude                14796
longitude                   0
dtype: int64

In [155]:
df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949-10-10,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,1949-10-10,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,1955-10-10,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,1956-10-10,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,1960-10-10,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

In [165]:
ufo_usa = df[(df.country=="us")]
ufo_usa.shape

(65114, 11)

In [120]:
ufo_usa.isnull().sum()

datetime                    0
city                        0
state                       0
country                     0
shape                    1553
duration (seconds)          0
duration (hours/min)        0
comments                   13
date posted                 0
latitude                11909
longitude                   0
dtype: int64

In [133]:
ufo_usa["datetime"] = ufo_usa['datetime'].dt.strftime('%m/%d/%Y')

<ipython-input-133-e0a68e576926>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo_usa["datetime"] = ufo_usa['datetime'].dt.strftime('%m/%d/%Y')

In [166]:
ufo_usa.dtypes

datetime                datetime64[ns]
city                            object
state                           object
country                         object
shape                           object
duration (seconds)              object
duration (hours/min)            object
comments                        object
date posted                     object
latitude                       float64
longitude                      float64
dtype: object

In [159]:
eventsdf = pd.read_csv('Eventsdf.csv')

In [160]:
eventsdf.dtypes

Event       object
Summary     object
Month        int64
Year         int64
Day          int64
datetime    object
dtype: object

In [161]:
eventsdf['datetime'] = pd.to_datetime(eventsdf['datetime'], format="%m/%d/%Y")
df['datetime']=pd.to_datetime(df['datetime'],format="%m/%d/%Y")

In [162]:
eventsdf.head()

,Event,Summary,Month,Year,Day,datetime
0,Sputnik I,The Soviet Union began the space race by launc...,10,1957,4,1957-10-04
1,First creature in space,A stray husky-spitz mix named Laika was the fi...,11,1957,3,1957-11-03
2,US launches first satellite,The United States joined the space race when E...,1,1958,31,1958-01-31
3,First creatures return from space,Less than two years after Laika perished while...,5,1959,28,1959-05-28
4,Yuri Gagarin,Soviet cosmonaut Yuri Gagarin became the first...,4,1961,12,1961-04-12

In [163]:
eventsdf.dtypes

Event               object
Summary             object
Month                int64
Year                 int64
Day                  int64
datetime    datetime64[ns]
dtype: object

In [283]:
type(ufo_usa["datetime"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [185]:
cond = eventsdf['datetime'] < ufo_usa["datetime"][20200]

In [186]:
cond

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35    False
36    False
37    False
38    False
39    False
Name: datetime, dtype: bool

In [ ]:
    
    x.append(dfn_past.iloc[-1]["datetime"])
    datito = dfn_past["datetime"][-1]

# Vamos a poner columna longitud y latitud juntas

In [339]:
ufo_usa["coordenadas"] = ufo_usa[["longitude","latitude"]].values.tolist()

#df['new_column'] = df[['lat', 'long']].values.tolist()
#ufo_usa["coordenadas"] = df["Year"].astype(str) + df["quarter"]

In [340]:
ufo_usa.head()

,level_0,index,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,coordenadas
0,0,0,1949-10-10,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,"[-97.9411111, 29.8830556]"
1,1,3,1956-10-10,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,"[-96.6458333, 28.9783333]"
2,2,4,1960-10-10,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,"[-157.8036111, 21.4180556]"
3,3,5,1961-10-10,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,"[-82.1888889, 36.595]"
4,4,7,1965-10-10,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333,"[-73.4083333, 41.1175]"

# Type point

In [354]:
import geopandas as gpd
import shapely.geometry

In [342]:
def type_point(lista):
    return {"type":"Point", "coordinates": lista}

In [344]:

ufo_usa["Point"] = ufo_usa["coordenadas"].apply(type_point)

In [358]:
ufo_usagdf = gpd.GeoDataFrame(ufo_usa,geometry = gpd.points_from_xy(ufo_usa.longitude, ufo_usa.latitude))

In [352]:
#ufo_usagdf

In [361]:
ufo_usagdf['geometry2']=ufo_usagdf['geometry'].apply(lambda x:shapely.geometry.mapping(x))

In [365]:
ufo_usagdf.head(1)

,level_0,index,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,coordenadas,Point,geometry,geometry2
0,0,0,1949-10-10,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,"[-97.9411111, 29.8830556]","{'type': 'Point', 'coordinates': [-97.9411111,...",POINT (-97.94111 29.88306),"{'type': 'Point', 'coordinates': (-97.9411111,..."

In [372]:
ufo_usagdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 51905 entries, 0 to 51904
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   level_0               51905 non-null  int64
 1   index                 51905 non-null  int64
 2   datetime              51905 non-null  datetime64[ns]
 3   city                  51905 non-null  object
 4   state                 51905 non-null  object
 5   country               51905 non-null  object
 6   shape                 51905 non-null  object
 7   duration (seconds)    51905 non-null  object
 8   duration (hours/min)  51905 non-null  object
 9   comments              51905 non-null  object
 10  date posted           51905 non-null  object
 11  latitude              51905 non-null  float64
 12  longitude             51905 non-null  float64
 13  coordenadas           51905 non-null  object
 14  Point                 51905 non-null  object
 15  geometry              51905 non-null  geometry
 16  geometry2             51905 non-null  object
dtypes: datetime64[ns](1), float64(2), geometry(1), int64(2), object(11)
memory usage: 6.7+ MB

In [370]:
ufo_usagdf.to_csv("ufo_usagdf.csv",index=False)

In [368]:
from pymongo import MongoClient
import requests
from pymongo import GEOSPHERE
client = MongoClient("localhost:27017")
db = client.get_database("Aliens")

In [378]:
#stb = client.ironhack
collection = db["Prueba1"]
collection.create_index([("geometry2", GEOSPHERE)])
collection.create_index([("type_point_", "2dsphere")])

'type_point__2dsphere'

In [376]:
sin_geometry = ufo_usagdf.drop(["geometry"],axis=1)

In [377]:
data = sin_geometry.to_dict(orient='records')
collection.insert_many(data)

In [380]:
ufo_usa = ufo_usagdf.drop(["level_0","index"],axis=1)

In [382]:
ufo_usa.to_csv("F_usacases.csv",index=False)

In [381]:
ufo_usa.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,coordenadas,Point,geometry,geometry2
0,1949-10-10,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,"[-97.9411111, 29.8830556]","{'type': 'Point', 'coordinates': [-97.9411111,...",POINT (-97.94111 29.88306),"{'type': 'Point', 'coordinates': (-97.9411111,..."
1,1956-10-10,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,"[-96.6458333, 28.9783333]","{'type': 'Point', 'coordinates': [-96.6458333,...",POINT (-96.64583 28.97833),"{'type': 'Point', 'coordinates': (-96.6458333,..."
2,1960-10-10,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,"[-157.8036111, 21.4180556]","{'type': 'Point', 'coordinates': [-157.8036111...",POINT (-157.80361 21.41806),"{'type': 'Point', 'coordinates': (-157.8036111..."
3,1961-10-10,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,"[-82.1888889, 36.595]","{'type': 'Point', 'coordinates': [-82.1888889,...",POINT (-82.18889 36.59500),"{'type': 'Point', 'coordinates': (-82.1888889,..."
4,1965-10-10,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333,"[-73.4083333, 41.1175]","{'type': 'Point', 'coordinates': [-73.4083333,...",POINT (-73.40833 41.11750),"{'type': 'Point', 'coordinates': (-73.4083333,..."

In [252]:
x = []
y = []
for i,row in ufo_usa.iterrows():
    cond = eventsdf['datetime'] < row["datetime"]
    df_past = eventsdf[cond]
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    x.append(dfn_past["Event"])
    y.append(dfn_past["datetime"])

In [ ]:
df.sort_values('diff', ascending=False).drop_duplicates(['City', 'Venue'])

In [286]:
for i,row in ufo_usa[:5].iterrows():
    cond = eventsdf['datetime'] < row["datetime"]
    df_past = eventsdf[cond]
    dfn_past = df_past.sort_values('datetime', ascending=True)
    #dfn_past[]
    #print(dfn_past["datetime"].iat[-1])
    #print(dfn_past.loc[dfn_past.index[-1], 'datetime'])
    #print(dfn_past["datetime"].iloc[-1])

In [287]:
dfn_past["datetime"].iloc[-1]

Timestamp('1965-06-14 00:00:00')

In [295]:
def eventos (mifecha):
    cond = eventsdf['datetime'] < mifecha
    df_past = eventsdf[cond]
    dfn_past = df_past.sort_values('datetime', ascending=True)
    dfn_past["datetime"].astype(object)
    return dfn_past["datetime"].iloc[-1]

In [300]:
dfn_past.dtypes

Event               object
Summary             object
Month                int64
Year                 int64
Day                  int64
datetime    datetime64[ns]
dtype: object

In [290]:
df_prueba_m = ufo_usa[:5]

In [296]:
df_prueba_m["ult_event"] = df_prueba_m["datetime"].apply(eventos)

IndexError: single positional indexer is out-of-bounds

In [196]:
#df_past.shape

In [199]:
dfn_past = df_past.sort_values(['datetime'])

In [282]:
type(dfn_past.iloc[-1]["datetime"])

pandas._libs.tslibs.timestamps.Timestamp

In [303]:
df_past = eventsdf[cond]
dfn_past = df_past.sort_values(['datetime'])
dfn_past.iloc[-1]["datetime"]

Timestamp('1965-06-14 00:00:00')

In [334]:
ufo_usa = ufo_usa.reset_index()

In [333]:
ufo_usa = ufo_usa.dropna()

In [379]:
ufo_usa.head()

,level_0,index,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,coordenadas,Point,geometry,geometry2
0,0,0,1949-10-10,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,"[-97.9411111, 29.8830556]","{'type': 'Point', 'coordinates': [-97.9411111,...",POINT (-97.94111 29.88306),"{'type': 'Point', 'coordinates': (-97.9411111,..."
1,1,3,1956-10-10,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,"[-96.6458333, 28.9783333]","{'type': 'Point', 'coordinates': [-96.6458333,...",POINT (-96.64583 28.97833),"{'type': 'Point', 'coordinates': (-96.6458333,..."
2,2,4,1960-10-10,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,"[-157.8036111, 21.4180556]","{'type': 'Point', 'coordinates': [-157.8036111...",POINT (-157.80361 21.41806),"{'type': 'Point', 'coordinates': (-157.8036111..."
3,3,5,1961-10-10,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,"[-82.1888889, 36.595]","{'type': 'Point', 'coordinates': [-82.1888889,...",POINT (-82.18889 36.59500),"{'type': 'Point', 'coordinates': (-82.1888889,..."
4,4,7,1965-10-10,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333,"[-73.4083333, 41.1175]","{'type': 'Point', 'coordinates': [-73.4083333,...",POINT (-73.40833 41.11750),"{'type': 'Point', 'coordinates': (-73.4083333,..."

In [305]:
newcolumn = eventsdf['datetime'][34]

In [329]:
cond

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
Name: datetime, dtype: bool

In [328]:
df_past

,Event,Summary,Month,Year,Day,datetime
0,Sputnik I,The Soviet Union began the space race by launc...,10,1957,4,1957-10-04
1,First creature in space,A stray husky-spitz mix named Laika was the fi...,11,1957,3,1957-11-03
2,US launches first satellite,The United States joined the space race when E...,1,1958,31,1958-01-31
3,First creatures return from space,Less than two years after Laika perished while...,5,1959,28,1959-05-28
4,Yuri Gagarin,Soviet cosmonaut Yuri Gagarin became the first...,4,1961,12,1961-04-12
5,First US man in space,The United States had hoped to be the first na...,5,1961,1,1961-05-01
6,Kennedy's speech on space exploration,Several weeks after Alan Shepard became the fi...,5,1961,25,1961-05-25
7,Glenn orbits Earth,Less than a year after Gagarin became the firs...,2,1962,20,1962-02-20
8,First woman in space,Cosmonaut Valentina Tereshkova is not a househ...,6,1963,16,1963-06-16
9,First space walk,Russian cosmonaut Alexei Leonov became the fir...,3,1965,25,1965-03-25
10,First pictures of Mars,The spacecraft Mariner 4 was the first to fly ...,6,1965,14,1965-06-14

In [322]:
for i in range(len(ufo_usa["datetime"])):
    df_past = pd.DataFrame(columns = ["Event","Summary","Month","Year","Day","datetime"])
    #Buscamos las filas de "events" que tengan una fecha previa a nuestro avistamiento
    print (ufo_usa["datetime"][i])
    cond = eventsdf['datetime'] < ufo_usa["datetime"][i]
    # Declara un dataframe para los valores True de cond. Es decir, df_past es un dataframe con todos los events que sucedieron antes de nuestro avistamiento.
    df_past = pd.concat([df_past,df[cond]
                         #oncatdf[cond]
    print (df_past.head(0))
    clients = pd.concat([clients, new_clients])
    #dfn_past = df_past.sort_values(['datetime'])\
    #          .drop_duplicates(ufo_usa["datetime"], keep='last')

1949-10-10 00:00:00

<ipython-input-322-6c7e252200f8>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_past = df[cond]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [ ]:
# split past events and future events
cond = eventsdf['datetime'] < ufo_usa["datetime"]
df_furture = df[cond]
df_past = df[~cond]

# keep the nearest furture
dfn_furture = df_furture.sort_values(['City', 'Venue', 'EVENT_START'])\
              .drop_duplicates(['City', 'Venue'], keep='first')

In [21]:
#Corrijo el nombre de la columna
df2.rename(columns={"longitude ":"longitude"},inplace=True)

/home/luisserrano/.local/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [22]:
coordinates = list(zip(df['latitude'], df['longitude']))

In [23]:
len(coordinates)

80332

In [78]:
!pip install reverse_geocoder

Collecting reverse_geocoder
  Downloading reverse_geocoder-1.5.1.tar.gz (2.2 MB)
     |████████████████████████████████| 2.2 MB 3.3 MB/s eta 0:00:013 MB/s eta 0:00:01     |██████████████████████████████  | 2.1 MB 3.3 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.11.0 in /home/luisserrano/.local/lib/python3.8/site-packages (from reverse_geocoder) (1.21.3)
Requirement already satisfied: scipy>=0.17.1 in /home/luisserrano/.local/lib/python3.8/site-packages (from reverse_geocoder) (1.7.1)
Building wheels for collected packages: reverse-geocoder
  Building wheel for reverse-geocoder (setup.py) ... done
  Created wheel for reverse-geocoder: filename=reverse_geocoder-1.5.1-py3-none-any.whl size=2268088 sha256=c6c07d79f7c0d4c382ababf18bd08d91dbf7ffb5952e56b085742ff8155245b9
  Stored in directory: /home/luisserrano/.cache/pip/wheels/65/42/5e/223fcd5dc869ff98d5ee6b19e236f82828e4e3c039328ebe20
Successfully built reverse-geocoder
Installing collected packages: reverse-geocoder
Successfully installed reverse-geocoder-1.5.1

In [24]:
import reverse_geocoder as rg

In [25]:
results = rg.search(coordinates[0:65536])

Loading formatted geocoded file...

In [29]:
len(results)

65536

In [32]:
results[65535]

{'lat': '45.40135',
 'lon': '-91.84906',
 'name': 'Barron',
 'admin1': 'Wisconsin',
 'admin2': 'Barron County',
 'cc': 'US'}

In [45]:
df.loc[75000]

datetime                                                  9/15/2012 21:00
city                                                              chester
state                                                                  ct
country                                                                us
shape                                                              circle
duration (seconds)                                                  600.0
duration (hours/min)                                      5 to 10 minutes
comments                Ten to twelve orange circles flying in formati...
date posted                                                     9/24/2012
latitude                                                              NaN
longitude                                                      -72.451389
Name: 75000, dtype: object

In [26]:
results[-1]

{'lat': '45.40135',
 'lon': '-91.84906',
 'name': 'Barron',
 'admin1': 'Wisconsin',
 'admin2': 'Barron County',
 'cc': 'US'}

In [ ]:
listita = []
for i in range(len(coordinates)):
    try:
        listita.append(rg.search(coordinates[i]))    
    except:
        listita.append("No")

Loading formatted geocoded file...

In [3]:
results_df = pd.DataFrame(results)

NameError: name 'results' is not defined

In [ ]:
listita