In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import json
import requests
client = MongoClient("localhost:27017")
client.list_database_names()
db = client.get_database("Aliens")

In [2]:
db.list_collection_names()

['airportcollection', 'alienscollection', 'Prueba1', 'Pruebaaeropuertos']

In [3]:
collectionairports = db.get_collection("Pruebaaeropuertos")
collectionaliens = db.get_collection("Prueba1")

In [27]:
# Km que quiero  caminar
metros = 5000

In [5]:
coord = [-74.93,40.07]

In [6]:
def type_point(lista):
    return {"type":"Point", "coordinates": lista}

In [7]:
point = type_point(coord)
point

{'type': 'Point', 'coordinates': [-74.93, 40.07]}

In [10]:
collectionaliens.find_one().keys()

dict_keys(['_id', 'level_0', 'index', 'datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)', 'duration (hours/min)', 'comments', 'date posted', 'latitude', 'longitude', 'coordenadas', 'Point', 'geometry2'])

In [28]:
query = {"Point": {"$near": {"$geometry": point, "$maxDistance": metros}}}

In [29]:
list(collectionaliens.find(query))

[{'_id': ObjectId('61b9c5a9fbd846b891960510'),
  'level_0': 18972,
  'index': 23456,
  'datetime': datetime.datetime(2002, 12, 8, 0, 0),
  'city': 'croydon',
  'state': 'pa',
  'country': 'us',
  'shape': 'triangle',
  'duration (seconds)': '300',
  'duration (hours/min)': '5min',
  'comments': 'Triangle Shaped Object 3 White lights Red in Middle at times And Silent',
  'date posted': '12/23/2002',
  'latitude': 40.0872222,
  'longitude': -74.9038889,
  'coordenadas': [-74.9038889, 40.0872222],
  'Point': {'type': 'Point', 'coordinates': [-74.9038889, 40.0872222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9038889, 40.0872222]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195effe'),
  'level_0': 13578,
  'index': 16646,
  'datetime': datetime.datetime(2014, 1, 19, 0, 0),
  'city': 'delanco',
  'state': 'nj',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '240',
  'duration (hours/min)': '4 minutes',
  'comments': 'Formation of silent orange lights moving across clear sky.',
  'date posted': '1/24/2014',
  'latitude': 40.0505556,
  'longitude': -74.9538889,
  'coordenadas': [-74.9538889, 40.0505556],
  'Point': {'type': 'Point', 'coordinates': [-74.9538889, 40.0505556]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9538889, 40.0505556]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195db36'),
  'level_0': 8258,
  'index': 10085,
  'datetime': datetime.datetime(1977, 11, 17, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'sphere',
  'duration (seconds)': '300',
  'duration (hours/min)': '5 minutes',
  'comments': 'The craft hovered approx. 15 ft. above my station wagon.',
  'date posted': '5/15/2013',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195d456'),
  'level_0': 6498,
  'index': 7903,
  'datetime': datetime.datetime(1999, 11, 11, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '4',
  'duration (hours/min)': '00:00:04',
  'comments': 'At about 10:20 PM I saw a bright cluster of orange and red lights moving rapidly across the sky from north to south.',
  'date posted': '8/25/2000',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5aafbd846b891965374'),
  'level_0': 39040,
  'index': 49129,
  'datetime': datetime.datetime(1998, 6, 15, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'disk',
  'duration (seconds)': '900',
  'duration (hours/min)': '15 minutes',
  'comments': 'My first and only UFO sighting in Nottingham Village on Delancy Drive',
  'date posted': '4/18/2012',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195e93b'),
  'level_0': 11847,
  'index': 14530,
  'datetime': datetime.datetime(2010, 11, 4, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'teardrop',
  'duration (seconds)': '180',
  'duration (hours/min)': '3 minutes',
  'comments': 'I looked out the window to see a saucer chasing a red teardrop.',
  'date posted': '1/31/2011',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5aafbd846b891964b72'),
  'level_0': 36990,
  'index': 46396,
  'datetime': datetime.datetime(2009, 5, 9, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'flash',
  'duration (seconds)': '900',
  'duration (hours/min)': '15 minutes',
  'comments': 'Satellite Debris Perhaps?',
  'date posted': '5/12/2009',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5aafbd846b891963cba'),
  'level_0': 33222,
  'index': 41565,
  'datetime': datetime.datetime(1986, 5, 1, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'formation',
  'duration (seconds)': '7200',
  'duration (hours/min)': '2 hours',
  'comments': '3 &quot;stars&quot; over bensalem spun away',
  'date posted': '10/31/2008',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195f97b'),
  'level_0': 16007,
  'index': 19716,
  'datetime': datetime.datetime(2010, 1, 22, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '900',
  'duration (hours/min)': '10-15 minutes',
  'comments': '2 lights apear and the others shoots across sky when a plane flys by.  ((NUFORC Note:  Student report.  PD))',
  'date posted': '2/14/2010',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195e3b4'),
  'level_0': 10432,
  'index': 12803,
  'datetime': datetime.datetime(2011, 11, 24, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'fireball',
  'duration (seconds)': '300',
  'duration (hours/min)': '5 mins',
  'comments': 'Two large Fireballs slowly moving south to north 11-24-11',
  'date posted': '12/12/2011',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195de2c'),
  'level_0': 9016,
  'index': 11059,
  'datetime': datetime.datetime(2007, 1, 1, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '120',
  'duration (hours/min)': '2 minutes',
  'comments': 'bright object that stopped in mid air and backed up. 500 Lights On Object0: Yes',
  'date posted': '8/12/2008',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}},
 {'_id': ObjectId('61b9c5aafbd846b8919635c0'),
  'level_0': 31436,
  'index': 39279,
  'datetime': datetime.datetime(2014, 4, 26, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'diamond',
  'duration (seconds)': '120',
  'duration (hours/min)': '2 minutes',
  'comments': 'Floating fire ball object in the shape of a diamond.',
  'date posted': '5/2/2014',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}}]

In [30]:
a = list(collectionaliens.find(query))

In [31]:
len(a)

12

# Revision Aeropuertos

In [32]:
collectionairports.find_one().keys()

dict_keys(['_id', 'type', 'name', 'latitude_deg', 'longitude_deg', 'elevation_ft', 'iso_country', 'coordenadas', 'geometry2'])

In [37]:
query2 = {"Point": {"$near": {"$geometry": point, "$maxDistance": metros}}}

In [148]:
list(collectionairports.find(query2))

[{'_id': ObjectId('61b9d7c07b46e1a45f485152'),
  'type': 'heliport',
  'name': 'Total Rf Heliport',
  'latitude_deg': 40.07080078125,
  'longitude_deg': -74.93360137939453,
  'elevation_ft': 11.0,
  'iso_country': 'US',
  'coordenadas': [-74.93360137939453, 40.07080078125],
  'geometry2': {'type': 'Point',
   'coordinates': [-74.93360137939453, 40.07080078125]},
  'Point': {'type': 'Point',
   'coordinates': [-74.93360137939453, 40.07080078125]}},
 {'_id': ObjectId('61b9d7c17b46e1a45f489f21'),
  'type': 'heliport',
  'name': 'Sterling Heliport',
  'latitude_deg': 40.081298828125,
  'longitude_deg': -74.89420318603516,
  'elevation_ft': 24.0,
  'iso_country': 'US',
  'coordenadas': [-74.89420318603516, 40.081298828125],
  'geometry2': {'type': 'Point',
   'coordinates': [-74.89420318603516, 40.081298828125]},
  'Point': {'type': 'Point',
   'coordinates': [-74.89420318603516, 40.081298828125]}},
 {'_id': ObjectId('61b9d7c07b46e1a45f485a47'),
  'type': 'heliport',
  'name': 'Frankford Hospital-Torresdale Division Heliport',
  'latitude_deg': 40.06959915161133,
  'longitude_deg': -74.98210144042969,
  'elevation_ft': 99.0,
  'iso_country': 'US',
  'coordenadas': [-74.98210144042969, 40.06959915161133],
  'geometry2': {'type': 'Point',
   'coordinates': [-74.98210144042969, 40.06959915161133]},
  'Point': {'type': 'Point',
   'coordinates': [-74.98210144042969, 40.06959915161133]}},
 {'_id': ObjectId('61b9d7c17b46e1a45f489979'),
  'type': 'heliport',
  'name': 'Burlington Generating Station Heliport',
  'latitude_deg': 40.07369995117188,
  'longitude_deg': -74.87460327148438,
  'elevation_ft': 11.0,
  'iso_country': 'US',
  'coordenadas': [-74.87460327148438, 40.07369995117188],
  'geometry2': {'type': 'Point',
   'coordinates': [-74.87460327148438, 40.07369995117188]},
  'Point': {'type': 'Point',
   'coordinates': [-74.87460327148438, 40.07369995117188]}},
 {'_id': ObjectId('61b9d7c17b46e1a45f487868'),
  'type': 'heliport',
  'name': 'Lourdes Medical Center Of Burlington Cty Heliport',
  'latitude_deg': 40.046798706100006,
  'longitude_deg': -74.8824005127,
  'elevation_ft': 72.0,
  'iso_country': 'US',
  'coordenadas': [-74.8824005127, 40.046798706100006],
  'geometry2': {'type': 'Point',
   'coordinates': [-74.8824005127, 40.046798706100006]},
  'Point': {'type': 'Point',
   'coordinates': [-74.8824005127, 40.046798706100006]}}]

## Locuras

In [136]:
data2 = pd.read_csv("Puntosaeropuertos.csv")
data2.shape

(27261, 1)

In [137]:
data2["Point"] = data2["coordenadas"].apply(type_point)

In [69]:
d = "{'a': 'Hola'}"

In [138]:
import ast
ast.literal_eval(d)

{'a': 'Hola'}

In [139]:
data2.head()

,coordenadas,Point
0,"[-74.93360137939453, 40.07080078125]","{'type': 'Point', 'coordinates': '[-74.9336013..."
1,"[-101.473911, 38.704022]","{'type': 'Point', 'coordinates': '[-101.473911..."
2,"[-151.692524, 59.947733]","{'type': 'Point', 'coordinates': '[-151.692524..."
3,"[-86.77030181884766, 34.86479949951172]","{'type': 'Point', 'coordinates': '[-86.7703018..."
4,"[-91.254898, 35.6087]","{'type': 'Point', 'coordinates': '[-91.254898,..."

In [146]:
#Esto funciona
for i in range(len(data2)):
        data2.Point[i]['coordinates'] = ast.literal_eval(data2.Point[i]['coordinates'])

In [147]:
data2.head()

,coordenadas,Point
0,"[-74.93360137939453, 40.07080078125]","{'type': 'Point', 'coordinates': [-74.93360137..."
1,"[-101.473911, 38.704022]","{'type': 'Point', 'coordinates': [-101.473911,..."
2,"[-151.692524, 59.947733]","{'type': 'Point', 'coordinates': [-151.692524,..."
3,"[-86.77030181884766, 34.86479949951172]","{'type': 'Point', 'coordinates': [-86.77030181..."
4,"[-91.254898, 35.6087]","{'type': 'Point', 'coordinates': [-91.254898, ..."

In [61]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27261 entries, 0 to 27260
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Point   27261 non-null  object
dtypes: object(1)
memory usage: 213.1+ KB

In [160]:
data4 = pd.read_csv("airportwithpoint.csv")
data4.head()

,type,name,latitude_deg,longitude_deg,elevation_ft,iso_country,coordenadas,geometry2,Point
0,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,US,"[-74.93360137939453, 40.07080078125]","{'type': 'Point', 'coordinates': (-74.93360137...","{'type': 'Point', 'coordinates': [-74.93360137..."
1,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,US,"[-101.473911, 38.704022]","{'type': 'Point', 'coordinates': (-101.473911,...","{'type': 'Point', 'coordinates': [-101.473911,..."
2,small_airport,Lowell Field,59.947733,-151.692524,450.0,US,"[-151.692524, 59.947733]","{'type': 'Point', 'coordinates': (-151.692524,...","{'type': 'Point', 'coordinates': [-151.692524,..."
3,small_airport,Epps Airpark,34.864799,-86.770302,820.0,US,"[-86.77030181884766, 34.86479949951172]","{'type': 'Point', 'coordinates': (-86.77030181...","{'type': 'Point', 'coordinates': [-86.77030181..."
4,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,US,"[-91.254898, 35.6087]","{'type': 'Point', 'coordinates': (-91.254898, ...","{'type': 'Point', 'coordinates': [-91.254898, ..."

In [164]:
data4["coordenadas2"] = data4["coordenadas"].apply(type_point)

In [166]:
data4.head()

,type,name,latitude_deg,longitude_deg,elevation_ft,iso_country,coordenadas,geometry2,Point,coordenadas2
0,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,US,"[-74.93360137939453, 40.07080078125]","{'type': 'Point', 'coordinates': (-74.93360137...","{'type': 'Point', 'coordinates': [-74.93360137...","{'type': 'Point', 'coordinates': '[-74.9336013..."
1,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,US,"[-101.473911, 38.704022]","{'type': 'Point', 'coordinates': (-101.473911,...","{'type': 'Point', 'coordinates': [-101.473911,...","{'type': 'Point', 'coordinates': '[-101.473911..."
2,small_airport,Lowell Field,59.947733,-151.692524,450.0,US,"[-151.692524, 59.947733]","{'type': 'Point', 'coordinates': (-151.692524,...","{'type': 'Point', 'coordinates': [-151.692524,...","{'type': 'Point', 'coordinates': '[-151.692524..."
3,small_airport,Epps Airpark,34.864799,-86.770302,820.0,US,"[-86.77030181884766, 34.86479949951172]","{'type': 'Point', 'coordinates': (-86.77030181...","{'type': 'Point', 'coordinates': [-86.77030181...","{'type': 'Point', 'coordinates': '[-86.7703018..."
4,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,US,"[-91.254898, 35.6087]","{'type': 'Point', 'coordinates': (-91.254898, ...","{'type': 'Point', 'coordinates': [-91.254898, ...","{'type': 'Point', 'coordinates': '[-91.254898,..."

In [168]:
for i in range(len(data4)):
        data4.coordenadas2[i]['coordinates'] = ast.literal_eval(data4.coordenadas2[i]['coordinates'])

## Sucesos cerca de aeropuertos FUNCIONA

In [171]:
a = []
for i,row in data2.iterrows():
    origen = row["Point"]
    query4 = {"Point": {"$near": {"$geometry":origen, "$maxDistance": metros}}}
    a.append(list(collectionaliens.find(query4)))

### Probando geoNear para sacar la distancia a cada suceso desde el aeropuerto

In [239]:
d = []
for i,row in data2.iterrows():
    origen = row["Point"]
    query4 = {"Point": {"$geoNear": {"$geometry":origen, "$maxDistance": metros}}}
    d.append(list(collectionaliens.aggregate(query4)))

In [172]:
len(a)

27261

In [240]:
len(d)

27261

In [179]:
a[0]

[{'_id': ObjectId('61b9c5a9fbd846b89195effe'),
  'level_0': 13578,
  'index': 16646,
  'datetime': datetime.datetime(2014, 1, 19, 0, 0),
  'city': 'delanco',
  'state': 'nj',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '240',
  'duration (hours/min)': '4 minutes',
  'comments': 'Formation of silent orange lights moving across clear sky.',
  'date posted': '1/24/2014',
  'latitude': 40.0505556,
  'longitude': -74.9538889,
  'coordenadas': [-74.9538889, 40.0505556],
  'Point': {'type': 'Point', 'coordinates': [-74.9538889, 40.0505556]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9538889, 40.0505556]}},
 {'_id': ObjectId('61b9c5a9fbd846b891960510'),
  'level_0': 18972,
  'index': 23456,
  'datetime': datetime.datetime(2002, 12, 8, 0, 0),
  'city': 'croydon',
  'state': 'pa',
  'country': 'us',
  'shape': 'triangle',
  'duration (seconds)': '300',
  'duration (hours/min)': '5min',
  'comments': 'Triangle Shaped Object 3 White lights Red in Middle at times And Silent',
  'date posted': '12/23/2002',
  'latitude': 40.0872222,
  'longitude': -74.9038889,
  'coordenadas': [-74.9038889, 40.0872222],
  'Point': {'type': 'Point', 'coordinates': [-74.9038889, 40.0872222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9038889, 40.0872222]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195db36'),
  'level_0': 8258,
  'index': 10085,
  'datetime': datetime.datetime(1977, 11, 17, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'sphere',
  'duration (seconds)': '300',
  'duration (hours/min)': '5 minutes',
  'comments': 'The craft hovered approx. 15 ft. above my station wagon.',
  'date posted': '5/15/2013',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195d456'),
  'level_0': 6498,
  'index': 7903,
  'datetime': datetime.datetime(1999, 11, 11, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '4',
  'duration (hours/min)': '00:00:04',
  'comments': 'At about 10:20 PM I saw a bright cluster of orange and red lights moving rapidly across the sky from north to south.',
  'date posted': '8/25/2000',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5aafbd846b891965374'),
  'level_0': 39040,
  'index': 49129,
  'datetime': datetime.datetime(1998, 6, 15, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'disk',
  'duration (seconds)': '900',
  'duration (hours/min)': '15 minutes',
  'comments': 'My first and only UFO sighting in Nottingham Village on Delancy Drive',
  'date posted': '4/18/2012',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195e93b'),
  'level_0': 11847,
  'index': 14530,
  'datetime': datetime.datetime(2010, 11, 4, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'teardrop',
  'duration (seconds)': '180',
  'duration (hours/min)': '3 minutes',
  'comments': 'I looked out the window to see a saucer chasing a red teardrop.',
  'date posted': '1/31/2011',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5aafbd846b891964b72'),
  'level_0': 36990,
  'index': 46396,
  'datetime': datetime.datetime(2009, 5, 9, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'flash',
  'duration (seconds)': '900',
  'duration (hours/min)': '15 minutes',
  'comments': 'Satellite Debris Perhaps?',
  'date posted': '5/12/2009',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5aafbd846b891963cba'),
  'level_0': 33222,
  'index': 41565,
  'datetime': datetime.datetime(1986, 5, 1, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'formation',
  'duration (seconds)': '7200',
  'duration (hours/min)': '2 hours',
  'comments': '3 &quot;stars&quot; over bensalem spun away',
  'date posted': '10/31/2008',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195f97b'),
  'level_0': 16007,
  'index': 19716,
  'datetime': datetime.datetime(2010, 1, 22, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '900',
  'duration (hours/min)': '10-15 minutes',
  'comments': '2 lights apear and the others shoots across sky when a plane flys by.  ((NUFORC Note:  Student report.  PD))',
  'date posted': '2/14/2010',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195e3b4'),
  'level_0': 10432,
  'index': 12803,
  'datetime': datetime.datetime(2011, 11, 24, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'fireball',
  'duration (seconds)': '300',
  'duration (hours/min)': '5 mins',
  'comments': 'Two large Fireballs slowly moving south to north 11-24-11',
  'date posted': '12/12/2011',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}},
 {'_id': ObjectId('61b9c5aafbd846b8919635c0'),
  'level_0': 31436,
  'index': 39279,
  'datetime': datetime.datetime(2014, 4, 26, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'diamond',
  'duration (seconds)': '120',
  'duration (hours/min)': '2 minutes',
  'comments': 'Floating fire ball object in the shape of a diamond.',
  'date posted': '5/2/2014',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195de2c'),
  'level_0': 9016,
  'index': 11059,
  'datetime': datetime.datetime(2007, 1, 1, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '120',
  'duration (hours/min)': '2 minutes',
  'comments': 'bright object that stopped in mid air and backed up. 500 Lights On Object0: Yes',
  'date posted': '8/12/2008',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}}]

In [241]:
d[0]

[{'_id': ObjectId('61b9c5a9fbd846b89195effe'),
  'level_0': 13578,
  'index': 16646,
  'datetime': datetime.datetime(2014, 1, 19, 0, 0),
  'city': 'delanco',
  'state': 'nj',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '240',
  'duration (hours/min)': '4 minutes',
  'comments': 'Formation of silent orange lights moving across clear sky.',
  'date posted': '1/24/2014',
  'latitude': 40.0505556,
  'longitude': -74.9538889,
  'coordenadas': [-74.9538889, 40.0505556],
  'Point': {'type': 'Point', 'coordinates': [-74.9538889, 40.0505556]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9538889, 40.0505556]}},
 {'_id': ObjectId('61b9c5a9fbd846b891960510'),
  'level_0': 18972,
  'index': 23456,
  'datetime': datetime.datetime(2002, 12, 8, 0, 0),
  'city': 'croydon',
  'state': 'pa',
  'country': 'us',
  'shape': 'triangle',
  'duration (seconds)': '300',
  'duration (hours/min)': '5min',
  'comments': 'Triangle Shaped Object 3 White lights Red in Middle at times And Silent',
  'date posted': '12/23/2002',
  'latitude': 40.0872222,
  'longitude': -74.9038889,
  'coordenadas': [-74.9038889, 40.0872222],
  'Point': {'type': 'Point', 'coordinates': [-74.9038889, 40.0872222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9038889, 40.0872222]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195db36'),
  'level_0': 8258,
  'index': 10085,
  'datetime': datetime.datetime(1977, 11, 17, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'sphere',
  'duration (seconds)': '300',
  'duration (hours/min)': '5 minutes',
  'comments': 'The craft hovered approx. 15 ft. above my station wagon.',
  'date posted': '5/15/2013',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195d456'),
  'level_0': 6498,
  'index': 7903,
  'datetime': datetime.datetime(1999, 11, 11, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '4',
  'duration (hours/min)': '00:00:04',
  'comments': 'At about 10:20 PM I saw a bright cluster of orange and red lights moving rapidly across the sky from north to south.',
  'date posted': '8/25/2000',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5aafbd846b891965374'),
  'level_0': 39040,
  'index': 49129,
  'datetime': datetime.datetime(1998, 6, 15, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'disk',
  'duration (seconds)': '900',
  'duration (hours/min)': '15 minutes',
  'comments': 'My first and only UFO sighting in Nottingham Village on Delancy Drive',
  'date posted': '4/18/2012',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195e93b'),
  'level_0': 11847,
  'index': 14530,
  'datetime': datetime.datetime(2010, 11, 4, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'teardrop',
  'duration (seconds)': '180',
  'duration (hours/min)': '3 minutes',
  'comments': 'I looked out the window to see a saucer chasing a red teardrop.',
  'date posted': '1/31/2011',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5aafbd846b891964b72'),
  'level_0': 36990,
  'index': 46396,
  'datetime': datetime.datetime(2009, 5, 9, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'flash',
  'duration (seconds)': '900',
  'duration (hours/min)': '15 minutes',
  'comments': 'Satellite Debris Perhaps?',
  'date posted': '5/12/2009',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5aafbd846b891963cba'),
  'level_0': 33222,
  'index': 41565,
  'datetime': datetime.datetime(1986, 5, 1, 0, 0),
  'city': 'bensalem',
  'state': 'pa',
  'country': 'us',
  'shape': 'formation',
  'duration (seconds)': '7200',
  'duration (hours/min)': '2 hours',
  'comments': '3 &quot;stars&quot; over bensalem spun away',
  'date posted': '10/31/2008',
  'latitude': 40.1044444,
  'longitude': -74.9516667,
  'coordenadas': [-74.9516667, 40.1044444],
  'Point': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9516667, 40.1044444]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195f97b'),
  'level_0': 16007,
  'index': 19716,
  'datetime': datetime.datetime(2010, 1, 22, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '900',
  'duration (hours/min)': '10-15 minutes',
  'comments': '2 lights apear and the others shoots across sky when a plane flys by.  ((NUFORC Note:  Student report.  PD))',
  'date posted': '2/14/2010',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195e3b4'),
  'level_0': 10432,
  'index': 12803,
  'datetime': datetime.datetime(2011, 11, 24, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'fireball',
  'duration (seconds)': '300',
  'duration (hours/min)': '5 mins',
  'comments': 'Two large Fireballs slowly moving south to north 11-24-11',
  'date posted': '12/12/2011',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}},
 {'_id': ObjectId('61b9c5aafbd846b8919635c0'),
  'level_0': 31436,
  'index': 39279,
  'datetime': datetime.datetime(2014, 4, 26, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'diamond',
  'duration (seconds)': '120',
  'duration (hours/min)': '2 minutes',
  'comments': 'Floating fire ball object in the shape of a diamond.',
  'date posted': '5/2/2014',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}},
 {'_id': ObjectId('61b9c5a9fbd846b89195de2c'),
  'level_0': 9016,
  'index': 11059,
  'datetime': datetime.datetime(2007, 1, 1, 0, 0),
  'city': 'riverside',
  'state': 'nj',
  'country': 'us',
  'shape': 'light',
  'duration (seconds)': '120',
  'duration (hours/min)': '2 minutes',
  'comments': 'bright object that stopped in mid air and backed up. 500 Lights On Object0: Yes',
  'date posted': '8/12/2008',
  'latitude': 40.0322222,
  'longitude': -74.9577778,
  'coordenadas': [-74.9577778, 40.0322222],
  'Point': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]},
  'geometry2': {'type': 'Point', 'coordinates': [-74.9577778, 40.0322222]}}]

In [173]:
data4["Diccionarioeventos"] = a

In [178]:
data4.head(10)

,type,name,latitude_deg,longitude_deg,elevation_ft,iso_country,coordenadas,geometry2,Point,coordenadas2,Diccionarioeventos
0,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,US,"[-74.93360137939453, 40.07080078125]","{'type': 'Point', 'coordinates': (-74.93360137...","{'type': 'Point', 'coordinates': [-74.93360137...","{'type': 'Point', 'coordinates': [-74.93360137...","[{'_id': 61b9c5a9fbd846b89195effe, 'level_0': ..."
1,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,US,"[-101.473911, 38.704022]","{'type': 'Point', 'coordinates': (-101.473911,...","{'type': 'Point', 'coordinates': [-101.473911,...","{'type': 'Point', 'coordinates': [-101.473911,...",[]
2,small_airport,Lowell Field,59.947733,-151.692524,450.0,US,"[-151.692524, 59.947733]","{'type': 'Point', 'coordinates': (-151.692524,...","{'type': 'Point', 'coordinates': [-151.692524,...","{'type': 'Point', 'coordinates': [-151.692524,...",[]
3,small_airport,Epps Airpark,34.864799,-86.770302,820.0,US,"[-86.77030181884766, 34.86479949951172]","{'type': 'Point', 'coordinates': (-86.77030181...","{'type': 'Point', 'coordinates': [-86.77030181...","{'type': 'Point', 'coordinates': [-86.77030181...","[{'_id': 61b9c5a9fbd846b8919605a1, 'level_0': ..."
4,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,US,"[-91.254898, 35.6087]","{'type': 'Point', 'coordinates': (-91.254898, ...","{'type': 'Point', 'coordinates': [-91.254898, ...","{'type': 'Point', 'coordinates': [-91.254898, ...","[{'_id': 61b9c5a9fbd846b89195f643, 'level_0': ..."
5,small_airport,Fulton Airport,34.942803,-97.818019,1100.0,US,"[-97.8180194, 34.9428028]","{'type': 'Point', 'coordinates': (-97.8180194,...","{'type': 'Point', 'coordinates': [-97.8180194,...","{'type': 'Point', 'coordinates': [-97.8180194,...",[]
6,small_airport,Cordes Airport,34.305599,-112.165001,3810.0,US,"[-112.16500091552734, 34.305599212646484]","{'type': 'Point', 'coordinates': (-112.1650009...","{'type': 'Point', 'coordinates': [-112.1650009...","{'type': 'Point', 'coordinates': [-112.1650009...","[{'_id': 61b9c5a9fbd846b8919607c1, 'level_0': ..."
7,small_airport,Goldstone (GTS) Airport,35.354740,-116.885329,3038.0,US,"[-116.885329, 35.35474]","{'type': 'Point', 'coordinates': (-116.885329,...","{'type': 'Point', 'coordinates': [-116.885329,...","{'type': 'Point', 'coordinates': [-116.885329,...",[]
8,small_airport,Williams Ag Airport,39.427188,-121.763427,87.0,US,"[-121.763427, 39.427188]","{'type': 'Point', 'coordinates': (-121.763427,...","{'type': 'Point', 'coordinates': [-121.763427,...","{'type': 'Point', 'coordinates': [-121.763427,...","[{'_id': 61b9c5a9fbd846b89196187c, 'level_0': ..."
9,heliport,Kitchen Creek Helibase Heliport,32.727374,-116.459742,3350.0,US,"[-116.4597417, 32.7273736]","{'type': 'Point', 'coordinates': (-116.4597417...","{'type': 'Point', 'coordinates': [-116.4597417...","{'type': 'Point', 'coordinates': [-116.4597417...",[]

In [185]:
g= []
for i in range(len(data4["Diccionarioeventos"])):
    g.append(len(data4["Diccionarioeventos"][i]))

In [187]:
len(g)

27261

In [189]:
data4["n_eventos"] = g

In [211]:
data4.head()

,type,name,latitude_deg,longitude_deg,elevation_ft,iso_country,coordenadas,geometry2,Point,coordenadas2,Diccionarioeventos,n_eventos
0,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,US,"[-74.93360137939453, 40.07080078125]","{'type': 'Point', 'coordinates': (-74.93360137...","{'type': 'Point', 'coordinates': [-74.93360137...","{'type': 'Point', 'coordinates': [-74.93360137...","[{'_id': 61b9c5a9fbd846b89195effe, 'level_0': ...",12
1,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,US,"[-101.473911, 38.704022]","{'type': 'Point', 'coordinates': (-101.473911,...","{'type': 'Point', 'coordinates': [-101.473911,...","{'type': 'Point', 'coordinates': [-101.473911,...",[],0
2,small_airport,Lowell Field,59.947733,-151.692524,450.0,US,"[-151.692524, 59.947733]","{'type': 'Point', 'coordinates': (-151.692524,...","{'type': 'Point', 'coordinates': [-151.692524,...","{'type': 'Point', 'coordinates': [-151.692524,...",[],0
3,small_airport,Epps Airpark,34.864799,-86.770302,820.0,US,"[-86.77030181884766, 34.86479949951172]","{'type': 'Point', 'coordinates': (-86.77030181...","{'type': 'Point', 'coordinates': [-86.77030181...","{'type': 'Point', 'coordinates': [-86.77030181...","[{'_id': 61b9c5a9fbd846b8919605a1, 'level_0': ...",5
4,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,US,"[-91.254898, 35.6087]","{'type': 'Point', 'coordinates': (-91.254898, ...","{'type': 'Point', 'coordinates': [-91.254898, ...","{'type': 'Point', 'coordinates': [-91.254898, ...","[{'_id': 61b9c5a9fbd846b89195f643, 'level_0': ...",2

# Cada suceso cuantos aeropuertos

In [209]:
data8 = pd.read_csv("F_usacases.csv")
data8.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,coordenadas,Point,geometry,geometry2
0,1949-10-10,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,"[-97.9411111, 29.8830556]","{'type': 'Point', 'coordinates': [-97.9411111,...",POINT (-97.9411111 29.8830556),"{'type': 'Point', 'coordinates': (-97.9411111,..."
1,1956-10-10,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,"[-96.6458333, 28.9783333]","{'type': 'Point', 'coordinates': [-96.6458333,...",POINT (-96.64583330000001 28.9783333),"{'type': 'Point', 'coordinates': (-96.6458333,..."
2,1960-10-10,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,"[-157.8036111, 21.4180556]","{'type': 'Point', 'coordinates': [-157.8036111...",POINT (-157.8036111 21.4180556),"{'type': 'Point', 'coordinates': (-157.8036111..."
3,1961-10-10,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,"[-82.1888889, 36.595]","{'type': 'Point', 'coordinates': [-82.1888889,...",POINT (-82.18888889999999 36.595),"{'type': 'Point', 'coordinates': (-82.1888889,..."
4,1965-10-10,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333,"[-73.4083333, 41.1175]","{'type': 'Point', 'coordinates': [-73.4083333,...",POINT (-73.4083333 41.1175),"{'type': 'Point', 'coordinates': (-73.4083333,..."

In [216]:
def type_point(lista):
    return {"type":"Point", "coordinates":lista}

In [217]:
data8["Point2"] = data8["coordenadas"].apply(type_point)

In [218]:
data8.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,coordenadas,Point,geometry,geometry2,Point2
0,1949-10-10,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,"[-97.9411111, 29.8830556]","{'type': 'Point', 'coordinates': [-97.9411111,...",POINT (-97.9411111 29.8830556),"{'type': 'Point', 'coordinates': (-97.9411111,...","{'type': 'Point', 'coordinates': '[-97.9411111..."
1,1956-10-10,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,"[-96.6458333, 28.9783333]","{'type': 'Point', 'coordinates': [-96.6458333,...",POINT (-96.64583330000001 28.9783333),"{'type': 'Point', 'coordinates': (-96.6458333,...","{'type': 'Point', 'coordinates': '[-96.6458333..."
2,1960-10-10,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,"[-157.8036111, 21.4180556]","{'type': 'Point', 'coordinates': [-157.8036111...",POINT (-157.8036111 21.4180556),"{'type': 'Point', 'coordinates': (-157.8036111...","{'type': 'Point', 'coordinates': '[-157.803611..."
3,1961-10-10,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,"[-82.1888889, 36.595]","{'type': 'Point', 'coordinates': [-82.1888889,...",POINT (-82.18888889999999 36.595),"{'type': 'Point', 'coordinates': (-82.1888889,...","{'type': 'Point', 'coordinates': '[-82.1888889..."
4,1965-10-10,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333,"[-73.4083333, 41.1175]","{'type': 'Point', 'coordinates': [-73.4083333,...",POINT (-73.4083333 41.1175),"{'type': 'Point', 'coordinates': (-73.4083333,...","{'type': 'Point', 'coordinates': '[-73.4083333..."

In [220]:
for i in range(len(data8)):
        data8.Point2[i]['coordinates'] = ast.literal_eval(data8.Point2[i]['coordinates'])

In [221]:
data8.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,coordenadas,Point,geometry,geometry2,Point2
0,1949-10-10,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,"[-97.9411111, 29.8830556]","{'type': 'Point', 'coordinates': [-97.9411111,...",POINT (-97.9411111 29.8830556),"{'type': 'Point', 'coordinates': (-97.9411111,...","{'type': 'Point', 'coordinates': [-97.9411111,..."
1,1956-10-10,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,"[-96.6458333, 28.9783333]","{'type': 'Point', 'coordinates': [-96.6458333,...",POINT (-96.64583330000001 28.9783333),"{'type': 'Point', 'coordinates': (-96.6458333,...","{'type': 'Point', 'coordinates': [-96.6458333,..."
2,1960-10-10,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,"[-157.8036111, 21.4180556]","{'type': 'Point', 'coordinates': [-157.8036111...",POINT (-157.8036111 21.4180556),"{'type': 'Point', 'coordinates': (-157.8036111...","{'type': 'Point', 'coordinates': [-157.8036111..."
3,1961-10-10,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,"[-82.1888889, 36.595]","{'type': 'Point', 'coordinates': [-82.1888889,...",POINT (-82.18888889999999 36.595),"{'type': 'Point', 'coordinates': (-82.1888889,...","{'type': 'Point', 'coordinates': [-82.1888889,..."
4,1965-10-10,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333,"[-73.4083333, 41.1175]","{'type': 'Point', 'coordinates': [-73.4083333,...",POINT (-73.4083333 41.1175),"{'type': 'Point', 'coordinates': (-73.4083333,...","{'type': 'Point', 'coordinates': [-73.4083333,..."

In [222]:
z = []
for i,row in data8.iterrows():
    origen2 = row["Point2"]
    query4 = {"Point": {"$near": {"$geometry":origen2, "$maxDistance": metros}}}
    z.append(list(collectionairports.find(query4)))

In [ ]:
t = []
for i,row in data8.iterrows():
    origen2 = row["Point2"]
    query4 = {"Point": {"$near": {"$geometry":origen2, "$maxDistance": metros}}}
    z.append(list(collectionairports.find(query4)))

In [223]:
len(z)

51905

In [238]:
z[20000]

[{'_id': ObjectId('61b9d7c17b46e1a45f487d39'),
  'type': 'heliport',
  'name': 'First Interstate Bank Building Heliport',
  'latitude_deg': 33.75360107421875,
  'longitude_deg': -117.86799621582033,
  'elevation_ft': 245.0,
  'iso_country': 'US',
  'coordenadas': [-117.86799621582033, 33.75360107421875],
  'geometry2': {'type': 'Point',
   'coordinates': [-117.86799621582033, 33.75360107421875]},
  'Point': {'type': 'Point',
   'coordinates': [-117.86799621582033, 33.75360107421875]}},
 {'_id': ObjectId('61b9d7c17b46e1a45f486e75'),
  'type': 'heliport',
  'name': 'Orange Co Sheriffs Forensics Lab Helistop',
  'latitude_deg': 33.7475013733,
  'longitude_deg': -117.876998901,
  'elevation_ft': 223.0,
  'iso_country': 'US',
  'coordenadas': [-117.876998901, 33.7475013733],
  'geometry2': {'type': 'Point',
   'coordinates': [-117.876998901, 33.7475013733]},
  'Point': {'type': 'Point', 'coordinates': [-117.876998901, 33.7475013733]}},
 {'_id': ObjectId('61b9d7c17b46e1a45f487dd3'),
  'type': 'heliport',
  'name': 'SCE Southeastern Division Heliport',
  'latitude_deg': 33.73072,
  'longitude_deg': -117.847333,
  'elevation_ft': 97.0,
  'iso_country': 'US',
  'coordenadas': [-117.847333, 33.73072],
  'geometry2': {'type': 'Point', 'coordinates': [-117.847333, 33.73072]},
  'Point': {'type': 'Point', 'coordinates': [-117.847333, 33.73072]}},
 {'_id': ObjectId('61b9d7c17b46e1a45f48a3d5'),
  'type': 'heliport',
  'name': 'Orange County Global Medical Center Helipad',
  'latitude_deg': 33.7549305556,
  'longitude_deg': -117.832736111,
  'elevation_ft': 178.0,
  'iso_country': 'US',
  'coordenadas': [-117.832736111, 33.7549305556],
  'geometry2': {'type': 'Point',
   'coordinates': [-117.832736111, 33.7549305556]},
  'Point': {'type': 'Point', 'coordinates': [-117.832736111, 33.7549305556]}},
 {'_id': ObjectId('61b9d7c17b46e1a45f487512'),
  'type': 'heliport',
  'name': 'Honda of Santa Ana Heliport',
  'latitude_deg': 33.72710037231445,
  'longitude_deg': -117.83599853515624,
  'elevation_ft': 113.0,
  'iso_country': 'US',
  'coordenadas': [-117.83599853515624, 33.72710037231445],
  'geometry2': {'type': 'Point',
   'coordinates': [-117.83599853515624, 33.72710037231445]},
  'Point': {'type': 'Point',
   'coordinates': [-117.83599853515624, 33.72710037231445]}},
 {'_id': ObjectId('61b9d7c17b46e1a45f486673'),
  'type': 'heliport',
  'name': 'Choc Heliport',
  'latitude_deg': 33.78079,
  'longitude_deg': -117.865062,
  'elevation_ft': 275.0,
  'iso_country': 'US',
  'coordenadas': [-117.865062, 33.78079],
  'geometry2': {'type': 'Point', 'coordinates': [-117.865062, 33.78079]},
  'Point': {'type': 'Point', 'coordinates': [-117.865062, 33.78079]}}]

In [231]:
data8["Diccionarioaeropuerts"] = z

In [ ]:
data8.head()

In [233]:
x= []
for i in range(len(data8["Diccionarioaeropuerts"])):
    x.append(len(data8["Diccionarioaeropuerts"][i]))

In [234]:
len(x)

51905

In [235]:
data8["n_aeropuertos"] = x

In [237]:
data8["n_aeropuertos"].value_counts()

1      13167
0       9945
2       9876
3       6139
4       3099
5       2474
6       1369
11      1225
9       1158
7        948
12       517
16       499
109      323
10       314
20       294
8        272
29        65
17        45
13        40
23        39
18        20
25        17
27        17
14        15
15         9
24         8
55         4
21         4
35         2
42         1
Name: n_aeropuertos, dtype: int64

In [ ]:
import geopy.distance

coords_1 = (52.2296756, 21.0122287)
coords_2 = (52.406374, 16.9251681)

print geopy.distance.vincenty(coords_1, coords_2).km

# CONCEPTO
 - Dibujar