In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
import pandas as pd
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

In [2]:
opciones=Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')              # incognito

In [39]:
id = []
title = []
year = []

driver = "./chromedriver.exe"
driver = webdriver.Chrome(driver, options = opciones)
driver.get("https://wiki2.org/en/List_of_films_featuring_extraterrestrials")

for i in range(2,639):
    title.append(driver.find_element_by_xpath(f'//*[@id="content"]/table/tbody/tr[{i}]/td[1]').text)
    year.append(driver.find_element_by_xpath(f'//*[@id="content"]/table/tbody/tr[{i}]/td[2]').text)
    id.append(i-1)
'''
for i in range(1,638):
    title.append(driver.find_elements_by_xpath(f'/html/body/div[4]/div[2]/div[4]/div[2]/div/div/div[10]/table/tbody/tr[{i}]/td[1]/i')[0].text)  
    #year.append(driver.find_elements_by_xpath(f'/html/body/div[4]/div[2]/div[4]/div[2]/div/div/div[10]/table/tbody/tr[{i}]/td[2]').text)
    id.append(i)
'''
'''
//*[@id="content"]/table/tbody/tr[2]/td[2]
//*[@id="content"]/table/tbody/tr[2]/td[1]/i/a
//*[@id="content"]/table/tbody/tr[2]/td[1]/i/a
/html/body/div[4]/div[2]/div[4]/div[2]/div/div/div[10]/table/tbody/tr[2]/td[1]/i/a
id = []
date = []
place = []
state = []
shape = []
duration = []
summary = []
driver = "./chromedriver.exe"
driver = webdriver.Chrome(driver, options = opciones)
driver.get("http://www.nuforc.org/webreports/ndxl.html")
date = []
place1 = []

for i in range(1,10):
    #date.append(driver.find_element_by_xpath(f'/html/body/p/table/tbody/tr[{i}]/td[1]/font/a').text)
    
    #place.append(driver.find_element_by_xpath(f'/html/body/font[2]/p/font/table/tbody/tr[{i}]/td[2]/font').text)
    #place.append(driver.find_element_by_xpath(f'/html/body/p/table/tbody/tr[1]/td[2]').text)
    
    #/html/body/p/table/tbody/tr[1]/td[2]/font
    #/html/body/p/table/tbody/tr[1]/td[2]/font
    #/html/body/p/table/tbody/tr[1]/td[2]/font
    #/html/body/p/table/tbody/tr[1]/td[2]
    #state.append(driver.find_elements_by_xpath(f"/html/body/p/table/tbody/tr[{i}]/td[3]/font").text)
    #shape.append(driver.find_elements_by_xpath(f"/html/body/p/table/tbody/tr[{i}]/td[4]/font").text)
    #duration.append(driver.find_elements_by_xpath(f"/html/body/p/table/tbody/tr[{i}]/td[5]/font").text)                                                   
    summary.append(driver.find_elements_by_xpath(f"/html/body/p/table/tbody/tr[{i}]/td[6]/font/text()"))
    id.append(i+1)
    '''

<ipython-input-39-732122dab3d3>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver, options = opciones)
<ipython-input-39-732122dab3d3>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  title.append(driver.find_element_by_xpath(f'//*[@id="content"]/table/tbody/tr[{i}]/td[1]').text)
<ipython-input-39-732122dab3d3>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  year.append(driver.find_element_by_xpath(f'//*[@id="content"]/table/tbody/tr[{i}]/td[2]').text)

'\n//*[@id="content"]/table/tbody/tr[2]/td[2]\n//*[@id="content"]/table/tbody/tr[2]/td[1]/i/a\n//*[@id="content"]/table/tbody/tr[2]/td[1]/i/a\n/html/body/div[4]/div[2]/div[4]/div[2]/div/div/div[10]/table/tbody/tr[2]/td[1]/i/a\nid = []\ndate = []\nplace = []\nstate = []\nshape = []\nduration = []\nsummary = []\ndriver = "./chromedriver.exe"\ndriver = webdriver.Chrome(driver, options = opciones)\ndriver.get("http://www.nuforc.org/webreports/ndxl.html")\ndate = []\nplace1 = []\n\nfor i in range(1,10):\n    #date.append(driver.find_element_by_xpath(f\'/html/body/p/table/tbody/tr[{i}]/td[1]/font/a\').text)\n    \n    #place.append(driver.find_element_by_xpath(f\'/html/body/font[2]/p/font/table/tbody/tr[{i}]/td[2]/font\').text)\n    #place.append(driver.find_element_by_xpath(f\'/html/body/p/table/tbody/tr[1]/td[2]\').text)\n    \n    #/html/body/p/table/tbody/tr[1]/td[2]/font\n    #/html/body/p/table/tbody/tr[1]/td[2]/font\n    #/html/body/p/table/tbody/tr[1]/td[2]/font\n    #/html/body/p/table/tbody/tr[1]/td[2]\n    #state.append(driver.find_elements_by_xpath(f"/html/body/p/table/tbody/tr[{i}]/td[3]/font").text)\n    #shape.append(driver.find_elements_by_xpath(f"/html/body/p/table/tbody/tr[{i}]/td[4]/font").text)\n    #duration.append(driver.find_elements_by_xpath(f"/html/body/p/table/tbody/tr[{i}]/td[5]/font").text)                                                   \n    summary.append(driver.find_elements_by_xpath(f"/html/body/p/table/tbody/tr[{i}]/td[6]/font/text()"))\n    id.append(i+1)\n    '

In [55]:
len(year)

637

In [44]:
alienfilms = list(zip(title,year)

SyntaxError: unexpected EOF while parsing (<ipython-input-44-738631c2501e>, line 1)

In [50]:
alienfilms = pd.DataFrame(list(zip(title,year)), columns = ['Title','Year'])

In [67]:
duplicate = alienfilms[alienfilms.duplicated('Year')]

In [74]:
sorted = duplicate.sort_values(['Year'])

In [75]:
sorted

                                                 Title  Year
617              When the Man in the Moon Seeks a Wife  1908
214                                     Flight to Mars  1950
216                 Flying Disc Man from Mars (serial)  1950
447                                     Rocketship X-M  1950
157                      The Day the Earth Stood Still  1951
..                                                 ...   ...
379                                        New Mutants  2020
405  Phineas and Ferb the Movie: Candace Against th...  2020
629                       Zack Snyder's Justice League  2021
593                        Venom: Let There Be Carnage  2021
434                              A Quiet Place Part II  2021

[550 rows x 2 columns]

In [73]:
display(duplicate)

                                                 Title  Year
6                                         The 5th Wave  2016
12   The Adventures of Buckaroo Banzai Across the 8...  1984
24                                    Alien Apocalypse  2005
30                              Alien Invasion Arizona  2005
35                                         Alien Siege  2005
..                                                 ...   ...
631                         Zathura: A Space Adventure  2005
632                                  Zenon: The Zequel  2001
634                        Zombies of the Stratosphere  1952
635                                      Zone Troopers  1985
636                       Zontar, the Thing from Venus  1966

[550 rows x 2 columns]

In [66]:
alienfilms

                            Title  Year
0             10 Cloverfield Lane  2016
1                     Kalai Arasi  1963
2       20 Million Miles to Earth  1957
3           2001: A Space Odyssey  1968
4          2001: A Space Travesty  2000
..                            ...   ...
632             Zenon: The Zequel  2001
633                      Zeta One  1969
634   Zombies of the Stratosphere  1952
635                 Zone Troopers  1985
636  Zontar, the Thing from Venus  1966

[637 rows x 2 columns]

In [63]:
alienfilms.to_csv("F_films.csv",index=False)